<div layout="column" class="scroll-shrink">
  <md-toolbar mdScrollShrink>
    <div class="md-toolbar-tools">
     <h3><span class="fa fa-list-ol"></span>&nbsp;&nbsp;Treatments</h3>
    </div>
  </md-toolbar>
  <md-content class="row">
    <md-list>
      <md-list-item class="md-3-line" *ngFor="#treatment of filteredTreatments">
<!--        <img [src]="item.face" [alt]="item.who" class="md-avatar">-->
        <div class="md-list-item-text">
          <h3>{{ treatment.patientId }}</h3>
          <h4>{{ treatment.therapy }}</h4>
          <p>{{ treatment.diagnose }}</p>
           <p>{{ treatment.price }}</p>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>
    </md-list>
      <a href="#" [routerLink]="['Pacients']" router-params="">View all Pacients</a>
  </md-content>
</div>
<tables></tables>
<!--<h3><span class="fa fa-list-ol"></span>&nbsp;&nbsp;Treatments</h3>

<br />
<table class="table table-striped table-hover" *ngFor="#treatment of filteredTreatments">
    <tr>
        <td>{{treatment.patientId}}</td>  
        <td>{{treatment.therapy}}</td>
        <td>{{treatment.diagnose}}</td>   
        <td>{{treatment.price}}</td>      
    </tr>
</table>

<br />-->


